## part1

In [ ]:
x='my name is abdelrahman'

In [11]:
x[:]

'my name is abdelrahman'

In [13]:
x[0]

'm'

In [14]:
x[4:]

'ame is abdelrahman'

In [15]:
print(x[:3])

my

In [16]:
nest=[1,2,[3,4]]

In [17]:
nest

[1, 2, [3, 4]]

In [18]:
nest[1]

2

In [20]:
nest[2]

[3, 4]

In [21]:
nest[2][1]

4

In [23]:
x=24
num='ali'

In [26]:
print('my age is:{} and my name is: {}'.format(x,num))

my age is:3 and my name is: ali

In [27]:
print('my age is:{one} and my name is: {two}'.format(one=x,two=num))

my age is:3 and my name is: ali

In [1]:
List= ['a', 'b', 'c']

## List

In [2]:
List.append('d')

In [3]:
List

['a', 'b', 'c', 'd']

In [40]:
d={'Player1_score':150,'Player1_result':{'G':['W','L']}}

In [48]:
d['Player1_result']['G'][0]

'W'

Dictionaries

In [49]:
d={'ele1':[1,2,3]}

In [50]:
d['ele1'][2]

3

Sets

In [52]:
s={1,2,3,4,5,6,6,6}

In [53]:
s

{1, 2, 3, 4, 5, 6}

In [55]:
s.add(6)

In [56]:
s

{1, 2, 3, 4, 5, 6}

In [59]:
List=[1,3,5,5,5,5,5]

In [60]:
set(List)

{1, 3, 5}

Tuples

In [63]:
t=(1,2,3)

Opertators and Combine them

In [64]:
1==1 and 'ali'=='ali'

True

In [65]:
1==1 or 'ali'>='ali'

True

1!=1 or 'ali'>='ali'

In [67]:
1!=1 and 'ali'>='ali'

False

## If,elif,else

In [68]:
x=1
y=2
if x==y:
    print('{}={}'.format(x,y))
elif x!=y:
    print('{}!={}'.format(x,y))
else:
    print('Fuck you')

1!=2

## For loop

In [69]:
i=[1,2,3,4,5]
for num in i:
    print(num)
    print('hello')

1
hello
2
hello
3
hello
4
hello
5
hello

In [78]:
x=1
List=[1]
while x<5:
    List.append(x)
    s=set(List)
    x=x+1

In [76]:
List

[1, 1, 2, 3, 4]

In [79]:
s

{1, 2, 3, 4}

In [96]:
i=list(range(0,5))

In [97]:
for num in i:
    print(num)

0
1
2
3
4

List comprehension

In [89]:
#normal method
x=[1,2,3,4]
out=[] #to make an empty list
for num in x:
    out.append(num**2)

In [90]:
out

[1, 4, 9, 16]

In [91]:
# Better method
out=[num**2 for num in x]

In [92]:
out

[1, 4, 9, 16]

Functions

## Functions

In [104]:

def my_function (age,req):
    if age== req:
        print('legal')
    else:
        print('illegal')

In [105]:
my_function(15,18)

illegal

In [112]:
# return of a function
#documantaion sting
def square (num):
    """
    That's a function that will square your I/P
    """
    return num**2

In [109]:
x=square(2)

In [111]:
# To know what function does press 'shift+tab'

In [116]:
i=list(range(5))
def recurion(num):
    for items in i:
        return num*item

## Map fun

In [121]:
seq=list(range(5))
def times2 (num):
    return num*2

In [122]:
map(times2,seq) #returns the loction of map in heap

In [123]:
seq2=list(map(times2,seq)) # creates a lits from map loction

In [125]:
print(seq2)

[0, 2, 4, 6, 8]

## lambda expresion

In [131]:
#instead of writing a fn to use map
seq3=list(map(lambda num:num*3,seq))

In [132]:
seq3

[0, 3, 6, 9, 12]

In [133]:
filter(lambda num:num%2==0,seq)

In [135]:
seqf=list(filter(lambda num:num%2==0,seq))# filter anything else

In [136]:
 seqf

[0, 2, 4]

In [137]:
seqf=list(map(lambda num:num%2==0,seq)) # if we used it it will make we will get false, or true

In [138]:
seqf

[True, False, True, False, True]

## Methods

In [2]:
# Use object+ . + tabs
s='My name is #abdelrahman'

In [3]:
s

'My name is #abdelrahman'

In [4]:
s.split('#')

['My name is ', 'abdelrahman']

In [6]:
s.split('#')[1] #to grab first string after "#", it will be helpful when you analysie text

'abdelrahman'

In [8]:
x=[1,2,3,4,5]
y=x.pop(1)

In [11]:
1 in [1,2,3,4] # check if an item exist in a list

True

## Tuple Unpacking

In [12]:
z=[(1,2),(3,4),(5,6)] # list of Tuples

In [13]:
z

[(1, 2), (3, 4), (5, 6)]

In [14]:
z[0][1]

2

In [30]:
theta=[]
x=[]
i=1
for (a,b) in z:
    theta[1]=a
    x[1]=b
    i=i+1

IndexError: list assignment index out of range

In [31]:
theta

[]